{% include 'head.html' %}
<table align="left" border="0">
        <tr>
            <th><ul class="list-group">
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Edit Details</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Close Account</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="{% url 'donor' %}">Logout</a></li>
                </ul></th>
            <th></tr></table>