<table align="left" border="0">
        <tr>
            <th><ul class="list-group">
                <li style="background-color: rosybrown; color: black" class="list-group-item">Find</li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Donor</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Blood Bank</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Hospitals</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Clinic</a></li>
                </ul></th>
            <th></tr></table>