{% include 'head.html' %}
<table align="left" border="0">
        <tr>
            <th><ul class="list-group">
                <li style="background-color: rosybrown; color: black" class="list-group-item">Find</li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Inbox</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Add State</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Add Oraganization</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Profile</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="">Suggestions</a></li>
                <li style="background-color: rosybrown; color: black" class="list-group-item"><a href="{% url 'index' %}">Logout</a></li>
                </ul></th>
            <th style="font-family: Chiller; color: bisque; font-size: 50px" align="center">WELCOME</th>
            <th></tr></table>